* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: sans-serif;
    line-height: 30px;
}

html, body {
    background-color: #36393F;
    color: white;
    height: 100%;
}

.container {
    height: 100%;

    display: flex;
    flex-direction: column;

}

header {
    position: fixed;
    left: 0;
    right: 0;

    flex: 1;
    background-color: #2F3136;
    padding: 0 30px;
    min-height: 70px;
    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 80px;
}

nav {
    flex: 1;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {   
    flex: 1;
    list-style-type: none;
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
    align-items: center;

}

.logoContainer {
    flex: 7;
}

.logoItem {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 7.5px 10px 7.5px 0;
}

.itemsContainer {
    flex: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    padding: 10px;
}

.item a {
    font-size: 1.25rem;
}

.item a:hover::after {
    color: #ccc;
}

main {
    flex: 8;
    padding-top: 100px;
}

section {
    padding-top: 50px;
}

.sectionContainer {
    text-align: center;
}

.title {
    padding: 30px 30px;
}

.contentImg img {
    height: 300px;
    border-radius: 50%;
}

.sobreContent {
    padding: 15px 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sobreContentImg {
    flex: 5;
}

.sobreContentText {
    flex: 5;
    text-align: justify;
    
}

.sobreContent img {
    
}

.content {
    padding: 10px 30% 0px;
    text-align: justify;
}

.certsContainer {
    padding: 20px 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.cert {
    max-height: 150px;
    max-width: 100%;
    margin: 20px;

    transition: .5s ease;
}

.certDescriptionContainer {
    max-width: 300px;
    text-align: center;
}

.certDescription {
    visibility: hidden;
    opacity: 0;
    /* transition: opacity .2s, visibility .2s; */
    transition: .5s ease-in;
}

.sophosCert {
    height: 75px;
}

.certContainer:hover .cert {
    opacity: 0.3;
}

.certContainer:hover .certDescription {
    visibility: visible;
    opacity: 1;
}


footer {
    flex: 1;
    background-color: #2F3136;
    padding: 0 30px;

    min-height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.social {
    margin-right: 15px;
}

.social svg {
    width: 4vh;
    fill: white;
}

@media only screen and (max-width: 800px) {
    .navbar, .itemsContainer {
        flex-direction: column;
    }

    main {
        padding-top: 300px;
    }

    .content {
        padding: 10px 5%;
    }

}